.RegisterPage {
  width: fit-content;
  background-color: #c29979;
  padding: 0.5rem;
  border-radius: 5px;
  color: black;
}

.RegisterForm {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.SubmitButton {
  align-self: flex-end;
}

.LoginRedirect {
  padding-top: 0.5rem;
}

.LoginLink {
  color: black;
  text-decoration: none;
  background: #f3d9b1;
  padding: 0 0.2rem;
  border-radius: 0.5rem;
  font-weight: 500;
}
.LoginLink:hover,
.LoginLink:active {
  background-color: whitesmoke;
}
